<p id="notice"><%= notice %></p>

<h1>Listing Ventas Pedido Detalles</h1>

<table>
  <thead>
    <tr>
      <th>Pedido</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventas_pedido_detalles.each do |ventas_pedido_detalle| %>
      <tr>
        <td><%= ventas_pedido_detalle.pedido_id %></td>
        <td><%= ventas_pedido_detalle.producto_id %></td>
        <td><%= ventas_pedido_detalle.cantidad %></td>
        <td><%= ventas_pedido_detalle.precio %></td>
        <td><%= link_to 'Show', ventas_pedido_detalle %></td>
        <td><%= link_to 'Edit', edit_ventas_pedido_detalle_path(ventas_pedido_detalle) %></td>
        <td><%= link_to 'Destroy', ventas_pedido_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido detalle', new_ventas_pedido_detalle_path %>
