<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ventas_agrupador_cliente.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ventas_agrupador_cliente.descripcion %>
</p>

<%= link_to 'Edit', edit_ventas_agrupador_cliente_path(@ventas_agrupador_cliente) %> |
<%= link_to 'Back', ventas_agrupador_clientes_path %>
