<p id="notice"><%= notice %></p>

<h1>Listing Inventario Producto Detalles</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventario_producto_detalles.each do |inventario_producto_detalle| %>
      <tr>
        <td><%= inventario_producto_detalle.producto_id %></td>
        <td><%= inventario_producto_detalle.nombre %></td>
        <td><%= inventario_producto_detalle.descripcion %></td>
        <td><%= link_to 'Show', inventario_producto_detalle %></td>
        <td><%= link_to 'Edit', edit_inventario_producto_detalle_path(inventario_producto_detalle) %></td>
        <td><%= link_to 'Destroy', inventario_producto_detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto detalle', new_inventario_producto_detalle_path %>
